/* CSS for fixing the header */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }
  
  /* CSS for smooth scrolling */
  html {
    scroll-behavior: smooth;
  }
  

/* Header.css */

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #header.scrolled {
    /* background-color: rgba(0, 0, 0, 0.8); Change to desired color */
    transition: background-color 0.3s;
  }
  
  /* Styles for hiding the top-bar when scrolling */
.hidden {
  display: none !important;
  transition: all 0.3s ease-in-out;
}

.top-bar {
  transition: all 5s ease-in;
}

/* Add any other styles as needed */