body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

h1::first-letter{
  color: red;
}
h1:nth-child(2){
  color: green;
}
p{
  text-decoration: underline;
}
a {
  color: #00B7FF;
}
nav{
 /*👉 background: #000;👈*/
  padding: 1px 5px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  color: white;
}
nav ul li:hover{
  color: #00B7FF;
  cursor: pointer;
}